{% extends 'header.html' %}
{% include 'bootstrap/base.html' %}

{% block title %} Welcome to {% endblock %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='assets/images/favicon5.ico') }}">
{% endblock %}

<header style="{% block header %} background-image: url('static/assets/images/space.jpg {% endblock %}"></header>

{% block content %}

<div class="content">

  <hr>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='assets/images/about-me-img.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do ¡!¡</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-10 mx-auto">

        <p class="text-center"><img src="https://media.giphy.com/media/QJfCtrknxjcGPnRfMl/giphy.gif" style="width:19%;"></p>

        <p>
          At Rastas Dreadlocks, we specialize in providing high-quality dreadlock services.<br>
          Our team of experienced stylists is dedicated to helping you achieve the look you want,
          whether you're looking to start your own dreads or maintain your existing ones.<br>
          We offer a wide range of services, including dreadlock installation, maintenance, and custom design.<br>
          Our stylists have years of experience and are highly trained in the latest techniques and trends.<br>
          We use only the best products and tools to ensure that your dreadlocks are healthy and beautiful.
        </p>
        <hr>
      </div>
    </div>
  </div>

</div>

{% endblock %}

{% block footer_ %} {% endblock %}

<footer style="{% block footer %} background-image: url('static/assets/images/space.jpg {% endblock %}"></footer>
