{% import "bootstrap/wtf.html" as wtf %}
{% extends 'header.html' %}
{% include 'bootstrap/base.html' %}

{% block title %} Welcome to {% endblock %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='assets/images/favicon1.ico') }}">
{% endblock %}

<header style="{% block header %} background-image: url('static/assets/images/space.jpg {% endblock %}"></header>

{% block content %}

<div class="content">

  <div class="text-center">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
          {% for message in messages %}
            {% if 'success' in message %}
              <li class="success-message" style="color:green;">{{ message }}</li>
            {% elif 'danger' in message %}
              <li class="">{{ message }}</li>
            {% else %}
              <li class="text-center" style="color:red;">{{ message }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>

  <hr>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/images/contact-img.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Contact Me</h1>
            <span class="subheading">Have questions? I have answers ¡!¡</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <p class="text-center"><img src="https://media.giphy.com/media/QJfCtrknxjcGPnRfMl/giphy.gif" style="width:19%;"></p>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Want to get in touch? Fill out the form below to send me a message, and I will get back to you as soon as possible!</p>

        <!-- Flash Messages -->
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 mx-auto content">
              <!-- Load the CKEditor -->
              {{ ckeditor.load(pkg_type="full") }}
              <!-- Configure it with the name of the form field from CommentForm -->
              {{ ckeditor.config(name='email_message|safe')|safe }}

              <!-- Use Flask-WTF to render the form -->
              {{ wtf.quick_form(form, novalidate=True, button_map={'submit': 'outline-success btn-block'}) }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>

</div>

{% endblock %}

{% block footer_ %} {% endblock %}

<footer style="{% block footer %} background-image: url('static/assets/images/space.jpg {% endblock %}"></footer>
