{% import "bootstrap/wtf.html" as wtf %}
{% extends 'header.html' %}
{% include 'bootstrap/base.html' %}

{% block title %} Welcome to {% endblock %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='assets/images/favicon2.ico') }}">
{% endblock %}

<header style="{% block header %} background-image: url('static/assets/images/space.jpg {% endblock %}"></header>

{% block content %}

<div class="content">

  <hr>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1484100356142-db6ab6244067?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Log In</h1>
            <span class="subheading">Welcome Back ¡!¡</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">

      <div class="col-lg-8 col-md-10 mx-auto content">

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
             <p style="color:red">{{ message }}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}

        {{ wtf.quick_form(form, novalidate=True, button_map={'submit': 'outline-success  btn-block'}) }}
      </div>
    </div>
  </div>

  <hr>

</div>

{% endblock %}

{% block footer_ %} {% endblock %}

<footer style="{% block footer %} background-image: url('static/assets/images/space.jpg {% endblock %}"></footer>
